.navbar_about {
    background: linear-gradient(to right, #8084e7, #FFFEA0 );
    overflow: hidden;
    padding: 7.5px 7.5px;
}

.navbar_about a{
    float: right;
    color: black;
    font-weight: 400;
    text-align: centre;
    padding: 20px 20px;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
.name{
    position: absolute;
    float: left;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
} 
body{
    margin: 0;
    background: linear-gradient(to right, #8084e7, #FFFEA0 );
} 
.icon {
    width: 50px;
    height: 50px;
    margin-right: 10px; 
} 

.box{
    display: flex;
    align-items: center;
}
.info{
    width: 60%;
    text-align: left;
    font-size: medium;
}
.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.connect{
    width: 40%;
}
.rectangle{
    padding: 5px;
    width: 80%;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5%;
}
.rectangle3{
    padding: 5px;
    background-color: white;
    width: 80%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 5%;
} 
.Name{
    margin-left: 20%;
}
h1{
    text-align: center;
} 
input{
    background-color: white;
    border: white;
    width: 100%;
} 
h3{
    margin: 0;
    font-size: medium;
}
.text{
    height: 200px;
    width: 100%;
} 
.row{
    display: flex;
}
.row1{
    display: flex;
    margin-left: 35%;
} 
hr{
    border-top: 2px solid black;
}
