.navbar_about {
    background: linear-gradient(to right, #8084e7, #FFFEA0 );
    overflow: hidden;
    padding: 7.5px 7.5px;
}

.navbar_about a{
    float: right;
    color: black;
    font-weight: 400;
    text-align: centre;
    padding: 20px 20px;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
.name{
    position: absolute;
    float: left;
}
body{
    margin: 0;
} 